{% extends "index.html" %}
{% block body %}
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
			$(function() {
			  $('a#process_input').bind('click', function() {
				$.getJSON('/background_process', {
				  proglang: $('textarea[name="proglang"]').val(),
				}, function(data) {
				  $("#result").text(data.result);
				});
				return false;
			  });
			});
		</script>
	</head>
  
	<body>
		<div class='container'>
		<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Masukkan Abstract</h3>
        </div>
        <div class="panel-body">
        <form>
			 <textarea type=text rows="10" cols="100" name=proglang></textarea>
			 <br></br>
			 <a href=# id=process_input><button class='btn btn-default'>Submit</button></a>
		</form>
        <p id=result></p>
        </div>
	</body>
{% endblock %}